{% extends 'base.html.twig' %}

{% block body %}
    <button>START</button>
    <div id="selection">
        <form>
            <input type="text" placeholder ="email"/>
            <input type="text" placeholder ="email"/>
            <input type="text" placeholder ="email"/>
            <input type="text" placeholder ="email"/>
            <input type="submit" value ="Valider"/>
        </form>
    </div>
{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('./css/style.css') }}" />
{% endblock %}
